/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 Nov 2019, 11:56:30
    Author     : oliviaroche
*/

html, 
body {
    padding: 0;
    margin: 0;
    height: 100%;
}


ul{
    margin: 0 !important;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    color:black;
}


ul li a:hover{
  text-decoration:none;
}


img{

  
  width:8%;
    height:8%;
  
}

input[type="text"], input[type="password"] {
    width: 40%;
    padding: 1.2em;
    border: 1px solid #eee;
    border-radius: 15px;
}

textarea{
   border: 1px solid #eee;
   border-radius: 15px; 
}

h3{
    font-family: Roboto;
}

p {
    font-family: Raleway;
    padding: 1em;
    text-align: center;
}

